.MuiDialog-paper.MuiPaper-root {
  height: calc(0.8 * var(--viewport-height));
  padding: 1em;
  background-color: #F7FBFD; /* primary 300 */
  background-image: url(/images/contacts_dialog_bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: bottom;
}

.contacts-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.contacts-dialog-form-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.contacts-dialog-actions {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.contacts-dialog-input {
  background-color: white;
}
