.app-toolbar-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar-menu {
  display: flex;
  align-items: center;
}

.avatar-menu-icon {
  color: white;
}
