@import url('https://fonts.googleapis.com/css?family=Hind');
a {
  text-decoration: none;
}

.navbar {
  align-items: center;
  background-color: #f3fafc;
  display: flex;
  flex-direction: row;
  /* Make sure to change ./NavBarAbove.css if you change the height. */
  height: 6rem;
  justify-content: space-around;
  width: 100%
}

.navbar-icon {
  display: inline-block;
  color: #bec7ca;
  text-decoration: none;
  text-align: center;
  align-items: center;
  line-height: 1rem;
}

.navbar-icon-text {
  display: block;
  font-size: 16px;
  font-weight: bold;
  font-family: 'hind';
}

.navbar-icon.navbar-icon-active {
  color: #297b94;
}
